@model Litium.Accelerator.ViewModels.Framework.HeaderViewModel 
@using Litium.Web.Mvc

@{
    var logoHeight = Model.IsBigHeader ? 60 : 50;
    var headerClass = Model.IsBigHeader ? "extended-header" : "compact-header";
    var headerRow = Model.HeaderName == "OneRow" ? "header__row--one-row" : "";
}

<header id="header" role="banner" class="header">
    <div class="header__row @headerClass @headerRow">
        <a href="@Model.StartPageUrl" class="header__logo">
            @Html.ImageFor(x => x.Logo, maxSize: new System.Drawing.Size(-1, logoHeight))
        </a>
        <div class="header__components">
            @if (Model.TopLinkList.Any())
            {
                foreach (var link in Model.TopLinkList)
                {
                    if (link != null)
                    {
                        <div class="top-link">
                            <a class="top-link__link--block" href="@link.Href">
                                <span class="top-link__title">@link.Text</span>
                            </a>
                        </div>
                    }
                }
            }
            <div id="quickSearch"></div>
            @{
                var currentPage = User.Identity.IsAuthenticated ? Model.MyPage : Model.LoginPage;
            }
            <div class="profile">
                <a href="@currentPage.Href" class="profile__link--block">
                    <i class="profile__icon"></i>
                    <span class="profile__title">@currentPage.Text</span>
                </a>
            </div>
            <div id="miniCart" class="cart cart--mini"></div>
        </div>
        <div class="header__break"></div>
        <nav role="navigation" class="navbar" id="navbar"></nav>
    </div>
</header>