@model Litium.Accelerator.ViewModels.Order.OrderViewModel
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewContext.RouteData.DataTokens["BareLayout"] = true;
}

<div class="row order-detail__container">
    <div class="columns">
        @if (Model.ShowButton)
        {
            <div class="row-inner order-detail__button-container">
                <div class="small-4">
                    <a class="order-detail__button" href="@($"{Context?.Request?.GetDisplayUrl()}&print=true")" target="_blank">
                        @Html.WebSiteString("general.print")
                    </a>
                </div>
                <div class="small-8 text--right">
                    <a class="order-detail__button" href="@Model.OrderHistoryUrl">
                        @Html.WebSiteString("orderdetail.backtoorderlist")
                    </a>
                </div>
            </div>
        }
        <div class="row-inner">
            <div class="medium-12 large-6">
                <h3>
                    @Html.WebSiteString("orderdetail.ordernumber"): @Model.Order.ExternalOrderID
                </h3>
            </div>
            <div class="medium-12 large-6 text--right text__mobile--left">
                <p>
                    @Html.WebSiteString("orderdetail.orderdate"): @Model.Order.OrderDate <br />
                    @Html.WebSiteString("orderdetail.orderstatus"): <strong> @Model.Order.Status</strong>
                </p>
            </div>
        </div>

        @if (Model.Order.ActualDeliveryDate.HasValue && Model.Order.ActualDeliveryDate.Value < DateTime.MaxValue.Date)
        {
            <div class="row-inner">
                <div class="medium-12 large-6 large-offset-6 text--right text__mobile--left">
                    @Html.WebSiteString("orderdetail.deliverydate"): <strong>@(Model.Order.ActualDeliveryDate?.DateTime.ToShortDateString())</strong>
                </div>
            </div>
        }

        <div class="row-inner order-table">
            <div class="small-12">
                <div class="row medium-unstack no-margin order-table__header">
                    <div class="medium-12 columns">
                        @Html.WebSiteString("orderdetail.information")
                    </div>
                </div>
                @foreach (var delivery in Model.Order.Deliveries)
                {
                    <div class="row no-margin order-table__body">
                        <div class="medium-12 columns">
                            <p>
                                @delivery.Address.FirstName @delivery.Address.LastName <br />
                                @delivery.Address.Address1 <br />
                                @delivery.Address.Zip @delivery.Address.City <br />
                                @delivery.Address.Country
                            </p>

                        </div>
                    </div>
                }
            </div>
        </div>

            <div class="row-inner order-table">
                <div class="row medium-unstack no-margin order-table__header hide-for-small-only">
                    <div class="columns medium-5">@Html.WebSiteString("orderdetail.column.products")</div>
                    <div class="columns medium-2">@Html.WebSiteString("orderdetail.column.quantity")</div>
                    <div class="columns medium-2">@Html.WebSiteString("orderdetail.column.price")</div>
                    <div class="columns medium-3 text--right">@Html.WebSiteString("orderdetail.column.total")</div>
                </div>
                <div class="order-table__body">
                    @foreach (var row in Model.Order.OrderRows)
                    {
                        <div class="row medium-unstack no-margin order-detail__summary-items">
                            <div class="columns medium-5">
                                <a href="@(row.Link?.Href)" target="_parent" class="order-detail__product-link">
                                    @row.Brand <strong>@row.Name</strong>
                                </a>
                            </div>
                            <div class="columns medium-2">
                                @row.QuantityString
                            </div>
                            <div class="columns medium-2">
                                @if (row.PriceInfo?.HasPrice == true)
                                {
                                    if (row.PriceInfo.CampaignPrice != null)
                                    {
                                        @: @row.PriceInfo.CampaignPrice.FormatPrice(true) (@row.PriceInfo.Price.FormatPrice(true))
                                    }
                                    else
                                    {
                                        @row.PriceInfo.Price.FormatPrice(true)
                                    }
                                }
                            </div>
                            <div class="columns medium-3 text--right">
                                @row.TotalPrice
                            </div>
                        </div>
                    }
                    @foreach (var row in Model.Order.DiscountRows)
                    {
                        <div class="row medium-unstack no-margin order-detail__summary-items">
                            <div class="columns medium-5">
                                @row.Name
                            </div>
                            <div class="columns medium-7 text--right">
                                @row.TotalPrice
                            </div>
                        </div>
                    }

                <div class="row medium-unstack no-margin order-detail__summary-method">
                    <div class="columns medium-9">
                        @Html.WebSiteString("orderdetail.paymentmethod") - @Model.Order.PaymentMethod
                    </div>
                    <div class="columns medium-3 text--right">
                        @Model.Order.OrderTotalFee
                    </div>
                </div>
                <div class="row medium-unstack no-margin order-detail__summary-method">
                    <div class="columns medium-9">
                        @Html.WebSiteString("orderdetail.deliverymethod") - @Model.Order.DeliveryMethod
                    </div>
                    <div class="columns medium-3 text--right">
                        @Model.Order.OrderTotalDeliveryCost
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.Order.OrderTotalDiscountAmount))
                {
                    <div class="row medium-unstack no-margin order-detail__summary-method">
                        <div class="columns medium-9">
                            @Html.WebSiteString("orderdetail.discount")
                        </div>
                        <div class="columns medium-3 text--right">
                            @Model.Order.OrderTotalDiscountAmount
                        </div>
                    </div>
                }
                <div class="row medium-unstack no-margin order-table__space-delimiter"></div>
                <div class="row medium-unstack no-margin">
                    <div class="columns small-12 text--right">
                        @Html.WebSiteString("orderdetail.grandtotal"): &nbsp &nbsp<strong>@Model.Order.OrderGrandTotal</strong>
                    </div>
                </div>
                <div class="row medium-unstack no-margin">
                    <div class="columns small-12 text--right">
                        @Html.WebSiteString("orderdetail.ordertotalvat"): &nbsp &nbsp @Model.Order.OrderTotalVat
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.IsPrintPage)
{
    <script type="text/javascript">
        window.print();
    </script>
}
