@using Litium.Web.Mvc;
@using Litium.Web;
@model Litium.Accelerator.ViewModels.Login.LoginViewModel

<div class="full-height">
    <div class="form__container">
        @using (Html.BeginForm("ChangePassword", "Login"))
        {
            @Html.AntiForgeryToken()
            <fieldset class="form">
                <div>
                    @Html.HiddenFor(x => x.RedirectUrl)
                    @Html.HiddenFor(x => x.LoginForm.UserName)
                    @Html.HiddenFor(x => x.LoginForm.Password)
                    @Html.LabelFor(m => m.ChangePasswordForm.Password, "changepassword.newpassword".AsWebsiteText(), new { @class = "form__label" })
                    @Html.PasswordFor(m => m.ChangePasswordForm.Password, new { @class = "form__input", @autocomplete = "new-password" })
                    @Html.ValidationMessageFor(m => m.ChangePasswordForm.Password, string.Empty, new { @class = "form__validator--error" })
                </div>
                <div>
                    @Html.LabelFor(m => m.ChangePasswordForm.ConfirmPassword, "changepassword.confirmpassword".AsWebsiteText(), new { @class = "form__label" })
                    @Html.PasswordFor(m => m.ChangePasswordForm.ConfirmPassword, new { @class = "form__input", @autocomplete = "new-password" })
                    @Html.ValidationMessageFor(m => m.ChangePasswordForm.ConfirmPassword, string.Empty, new { @class = "form__validator--error" })
                </div>
                <div>
                    <input type="submit" class="form__button form__button--expand" value="@Html.WebSiteString("login.changepassword")" />
                </div>
            </fieldset>
        }
    </div>
</div>
